.back-link {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 12px;
    border-radius: .25rem;
    padding: .25rem 1.25rem;
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    margin: 2rem 10vw 0 10vw;
}

.main-details {
    padding: 2rem 10vw;
    color: hsl(200deg, 15%, 8%);

    img {
        width: 100%;
    }

    h1 {
        font-size: 1.375rem;
    }

    p {
        font-weight: 600;
        margin: .5rem 0;

        span {
            font-weight: 300;
        }
    }

    .details-container {
        margin: 2rem 0;
        
        .details-subcontainer {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;    
            margin: 1rem 0;
        }
    }

    .bc-container {
        p {
            font-size: 1.125rem;
        }

        ul {
            display: flex;
            flex-wrap: wrap;
            gap: .5rem;

            li {
                box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 12px;
                border-radius: .25rem;
                padding: .25rem 1.25rem;
            }
        }
    }
}

.dark {
    .main-details {
        color: #fff;

        .bc-container {
            p {
                font-size: 1rem;
            }

            ul {
                li {
                    background: hsl(209, 23%, 22%);
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .back-link {
        margin: 3rem 10vw 0 10vw;
    }

    .main-details {
        padding: 3rem 10vw;
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 5vw;

        img {
            width: 100%;
            height: 100%;
        }
    }
}

@media screen and (min-width: 1024px) {
    .main-details {
        .details-container {
            .details-subcontainer {
                flex-direction: row;
                gap: 4vw;
            }
        }
    }
}