.main-details {
    padding: 2rem 10vw;
    color: hsl(200deg, 15%, 8%);

    h1 {
        font-size: 1.375rem;
    }

    p {
        font-weight: 600;

        span {
            font-weight: 300;
        }
    }

    .details-container {
        margin: 2rem 0;
        
        .details-subcontainer {
            display: flex;
            flex-direction: column;
            gap: 2rem;
    
            p {
                margin: .5rem 0;
            }
        }
    }

}

@media screen and (min-width: 768px) {
    .main-details {
        padding: 3rem 10vw;
    }
}