header {
    padding: 1.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #222;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

    h1 {
        font-size: 1.125rem;
    }

    button {
        border: none;
        background: none;
        display: flex;
        align-items: center;
        font-size: .875rem;
        gap: .5rem;
    }
}

.dark {
    header {
        background: #2b3743;
        color: #fff;
    }

    button {
        color: inherit;
    }
}

@media screen and (min-width: 768px) {
    header {
        padding: 1rem 10vw;
    }
}

@media screen and (min-width: 1024px) {
    header {
        h1 {
            font-size: 1.25rem;
        }

        button {
            font-size: 1rem;
            gap: 1rem;
        }
    }

}