@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

@import "./reset";
@import "./components/header";
@import "./components/main";
@import "./components/countryDetails";

body {
    font-family: Nunito Sans, sans-serif;
    background: hsl(0, 0%, 98%);

    header, p, h1, a, li, select, input[type='text'] {
        color: hsl(200deg, 15%, 8%);    
    }
    
    p {
        font-weight: 600;

        span {
            font-weight: 300;
        }
    }

    header, .country-container, select, input[type='text'] {
        background: #fff;
    }
}

.dark {
    background: hsl(207, 26%, 17%);

    .svg-icon {
        fill: #fff;
    }

    header, p, h1, a, li, select, input[type='text'] {
        color: #fff;
    }

    header, .country-container, select, input[type='text'], .back-link, ul a {
        background: hsl(209, 23%, 22%);
    }
}