@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

@import "./reset";
@import "./components/header";
@import "./components/main";
@import "./components/countryDetails";

body {
    font-family: Nunito Sans, sans-serif;
    background: hsl(0, 0%, 98%);

    p, h1, a, li, select, input[type='text'] {
        color: hsl(200deg, 15%, 8%);    
    }
    
    p {
        font-weight: 600;

        span {
            font-weight: 300;
        }
    }

    .country-container, select, input[type='text'] {
        background: #fff;
    }
}

.dark {
    background: hsl(207, 26%, 17%);

    .svg-icon {
        fill: #fff;
    }

    p, h1, a, li, select, input[type='text'] {
        color: #fff;
    }

    .country-container, select, input[type='text'], .back-link, ul a {
        background: hsl(209, 23%, 22%);
    }
}

// - Dark Blue (Dark Mode Elements): hsl(209, 23%, 22%)
// - Very Dark Blue (Dark Mode Background): hsl(207, 26%, 17%)
// - Very Dark Blue (Light Mode Text): hsl(200, 15%, 8%)
// - Dark Gray (Light Mode Input): hsl(0, 0%, 52%)
// - Very Light Gray (Light Mode Background): hsl(0, 0%, 98%)
// - White (Dark Mode Text & Light Mode Elements): hsl(0, 0%, 100%)